.titulo{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.imagem{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}